.body {
    font-family: Roboto;
    margin:auto;
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 20px 100px;
}

#logo {
    font-size: 24px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0px 100px;
}

ul {
    list-style: none;
    padding: 0px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    text-transform: uppercase;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    margin: 0px;
    margin-bottom: 10px;
}

h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    margin: 0px;
}

.main {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 500px;
    padding: 0px 100px;
    gap: 50px
}

.website {
    font-size: 18px;
}

#image {
    max-height: 350px;
    border-radius: 0px;
}

button {
    background-color: #3882f6;
    border: none;
    color: #f9faf8;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 100px 300px;
    color: #1F2937;
    max-width: auto;
}

.quote .text {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
}

h4 {
    margin-left: auto;
    text-align: right;
    font-weight: bold;
    margin: 0px;
}


.images {
    display:flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

img {
    border-radius: 15px;
}

.resource {
    text-align: center;
    line-height: 30px;
    font-size: 20px;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
    gap: 30px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
    display: flex;
    
}

h5 {
    font-size: 20px;
    margin: 0px;
}

footer {
    background-color: #3882f6;
    display: flex;
    gap: 100px;
    margin: 50px 400px;
    padding: 30px;
    border-radius: 10px;
    line-height: 25px;
    color: #E5E7EB;
}

footer button {
    border-style: solid;
    border-color: #E5E7EB;
    
}




